<%- include('../layouts/header') %>

<body id="layoutPadrao">
    <!--CABEÇALHO-->
    <div id="cabecalho">
        <header>
            <div style="display:flex; justify-content:center; align-itens:center;" id="titulo_cotainer">
                <h1>Olá, <%= resultado %></h1>
            </div>
            <p>Vamos ao Combate</p> 
        </header>
        <div class="voltar"><a href="/"><i class="fa-solid fa-house"></i></a></div>
    </div>





    <!--PRINCIPAL-->
    <main id="menu_cidadao">
        <div class="cards_menuCidadao">
            <form class="card_menuCidadao" action="/inform" method="POST">                   
                <input type="text" name="nome" value="<%= resultado %>">
                <input type="text" name="cpf" value="<%= cpf_cid %>">
                <button type="submit">
                    <img src="/img/iconesMenu/checked.png" alt="ícones">
                    <p>CHECKLIST</p>
                </button>               
            </form>           

           
            <form class="card_menuCidadao" action="/historico_cidadao" method="POST">
                <input type="text" name="nome" value="<%= resultado %>">
                <input type="text" name="cpf" value="<%= cpf_cid %>">
                <button type="submit">
                    <img src="/img/iconesMenu/historico.png" alt="ícones">
                    <p>HISTÓRICO CHECKLIST</p>
                </button>
            </form>

            <form class="card_menuCidadao" action="/informacoes" method="POST">
                <input type="text" name="nome" value="<%= resultado %>">
                <input type="text" name="cpf" value="<%= cpf_cid %>">
                <button type="submit">
                    <img src="/img/iconesMenu/info.png" alt="ícones">
                    <p>INFORMAÇÕES</p>
                </button>
            </form>
        </div>
    </main>




    <!--RODAPÉ-->
    <footer>
        <div>
            <img src="/img/logo-prefeitura.png" alt="Logomarca prefeitura" width="300px" style="margin-top: 20px;">
            <p style="margin-top: 10px; color:black;">Xô Aedes</p>
        </div>
    </footer>
</body>

<%- include('../layouts/footer') %>